<body class="hold-transition login-page" style="background-image: url('../../assets/login-bg.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div class="login-box">
      <div class="login-logo">
        <a href="#" style="color: #fff"><b>Projeto</b>Prefeitura</a>
      </div>
      
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Faça login para iniciar sua sessão</p>
    
          <form>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="usuario.login">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Senha" name="senha" [(ngModel)]="usuario.senha">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button type="submit" class="btn btn-light btn-block">Esqueci Senha</button>
              </div>
             
              <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block" (click)="fazerLogin()">Entrar</button>
              </div>
             
            </div>
            
              <a routerLink="cadastro" routerLinkActive="active-link">Caso deseje se cadastrar, clique aqui</a>
            
          </form>
          
          
        </div>
        
      </div>
    </div>
        
    </body>