<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Compra</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Compra</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card card-solid">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-4">
            <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
            <div class="col-12">
              <img src="../../../../../assets/banana.jpg" class="product-image" alt="Product Image">
            </div>
          </div>
          <div class="col-12 col-sm-7">
            <h3 class="my-3">descr</h3>

            <hr>
            <h4>Informações</h4>
            <div class="row">
              <div class="col-7">
                <h2 class="lead">desc</h2>
                <p class="text-muted text-sm"><b>Cultivo: </b> cesc </p>
                <p class="text-muted text-sm"><b>Maturação: </b> desc </p>
                <p class="text-muted text-sm"><b>Orgânico: </b>
                  Sim </p>
                <p class="text-muted text-sm"><b>Data do Plantio: </b>
                  06/01/1545 </p>
                <p class="text-muted text-sm"><b>Previsão da Colheita: </b>
                  01/10/12455</p>
                <ul class="ml-4 mb-0 fa-ul text-muted">
                  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Endereço:
                    avenida</li>
                  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefone: (31)
                    94432-1222</li>
                </ul>
              </div>

            </div>

            <div class="bg-gray py-2 px-3 mt-4">
              <h2 class="mb-0">
                R$ 80,00
              </h2>
              <h4 class="mt-0">
                <small>Ex Tax: R$ 80,00 </small>
              </h4>
            </div>

            <div class="mt-4">
              <button class="btn btn-primary btn-lg btn-flat">
                <i class="fas fa-cart-plus fa-lg mr-2"></i>
                Comprar
              </button>
            </div>

          </div>
        </div>

        <!-- Pagamento -->
        <div class="row">
          <div class="col-12 col-sm-4">
          </div>
          <div class="col-12 col-sm-7">

            <h3 class="my-3">Pagamento cartão de crédito<span class="fa-li"></span>
            </h3>

            <hr>

            <div class="row">

              <div class="col-3">
                <label>Número cartão</label>
                <div class="input-group mb-1">

                  <input type="text" class="form-control" placeholder="Número cartão" [(ngModel)]="numeroCartao" name="numeroCartao"
                    (keyup)="verificaBandeiraCartao($event)" required>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <div class="bandeiraCartao"></div>
                    </span>
                  </div>
                </div>
              </div>



              <div class="col-2" *ngIf="exibirQuantidadeParcelas">
                <div class="form-group">
                  <label>Dígito verificador</label>
                  <input type="text" class="form-control" placeholder="Dígito Verificador" [(ngModel)]="cvv" name="cvv"
                    required maxlength="3">
                </div>
              </div>

              <div class="col-1" *ngIf="exibirQuantidadeParcelas">
                <div class="form-group">
                  <label>Mês expiração</label>
                  <input type="text" class="form-control" placeholder="Mês" [(ngModel)]="mesExpiracao" name="mesExpiracao" required
                    maxlength="2">
                </div>
              </div>

              <div class="col-1" *ngIf="exibirQuantidadeParcelas">
                <div class="form-group">
                  <label>Ano expiração</label>
                  <input type="text" class="form-control" [(ngModel)]="anoExpiracao" name="anoExpiracao" placeholder="Ano"  required
                    maxlength="4" >
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-3" *ngIf="exibirQuantidadeParcelas">
                <div class="form-group">
                  <label>Número de Parcelas</label>
                  <select name="qtdeParcelas" id="qtdParcelas" class="form-control">
                    <option value="">Selecione</option>
                  </select>
                </div>
              </div>

              <div class="col-3">
                <div class="form-group">
                  <label>Nome Cartão</label>
                  <input type="text" class="form-control" placeholder="Número cartão" name="descricaoDoLote" required>

                </div>
              </div>

              <div class="col-2">
                <div class="form-group">
                  <label>CPF</label>
                  <input type="text" class="form-control" placeholder="CPF" name="descricaoDoLote" required>
                </div>
              </div>

              <div class="col-2">
                <div class="form-group">
                  <label>Data de nascimento</label>
                  <input type="text" class="form-control" placeholder="Nascimento" name="descricaoDoLote" required>
                </div>
              </div>
            </div>

            <!-- Linha inputs hiddens -->
            <div class="row">
              <input id="bandeiraSelecionadaHidden" type="hidden" class="form-control" >
              <input id="cardTokenHidden" type="hidden" class="form-control">
              <input id="senderHashHidden" type="hidden" class="form-control">
            </div>



            <div class="mt-4">
              <button class="btn btn-primary btn-lg btn-flat" (click)="pagar()">
                <i class="fas fa-cart-plus fa-lg mr-2"></i>
                Pagar
              </button>
            </div>

          </div>
        </div>

        <div class="row mt-4">
          <nav class="w-100">
            <div class="nav nav-tabs" id="product-tab" role="tablist">
              <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc"
                role="tab" aria-controls="product-desc" aria-selected="true">Rota</a>
            </div>
          </nav>
          <div class="tab-content p-3" id="nav-tabContent">
            <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae condimentum erat. Vestibulum ante
              ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed posuere, purus at efficitur
              hendrerit, augue elit lacinia arcu, a eleifend sem elit et nunc. Sed rutrum vestibulum est, sit amet
              cursus dolor fermentum vel. Suspendisse mi nibh, congue et ante et, commodo mattis lacus. Duis varius
              finibus purus sed venenatis. Vivamus varius metus quam, id dapibus velit mattis eu. Praesent et semper
              risus. Vestibulum erat erat, condimentum at elit at, bibendum placerat orci. Nullam gravida velit mauris,
              in pellentesque urna pellentesque viverra. Nullam non pellentesque justo, et ultricies neque. Praesent vel
              metus rutrum, tempus erat a, rutrum ante. Quisque interdum efficitur nunc vitae consectetur. Suspendisse
              venenatis, tortor non convallis interdum, urna mi molestie eros, vel tempor justo lacus ac justo. Fusce id
              enim a erat fringilla sollicitudin ultrices vel metus. </div>

          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>